@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<OnlineTicketsSystem.Models.Event>

<h1>Admin - Събития</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">+ Добави събитие</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>Град</th>
            <th>Място</th>
            <th>Категория</th>
            <th>Дата</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Title</td>
                <td>@e.City</td>
                <td>@e.Venue</td>
                <td>@e.Category?.Name</td>
                <td>@e.Date.ToShortDateString()</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@e.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@e.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
